[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false
init-if-needed = true

[programs.localnet]
solclaw = "J4qipHcPyaPkVs8ymCLcpgqSDJeoSn3k1LJLK7Q9DZ5H"

[programs.devnet]
solclaw = "J4qipHcPyaPkVs8ymCLcpgqSDJeoSn3k1LJLK7Q9DZ5H"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run mocha -t 1000000 tests/"
